{% extends 'splitview_base.html.twig' %}

{% block title %}Créer votre mot de passe{% endblock %}

{% block content %}


    {% if not form.vars.valid %}


        <div class="login__error_message text-white px-6 py-4 border-0 rounded relative bg-red-500 mb-10">

                {# Loop through every form item #}
                {% for child in form.children %}
                    {# Display the errors of the form item #}
                    {%for error in child.vars.errors%}
                        <span class="inline-block align-middle mr-8">
                                    {{ error.message }}
                                </span>
                    {%endfor%}
                {%endfor%}

        </div>

    {%endif%}


    <div class="text-center">
        <p class="mt-3 text-gray-500 dark:text-gray-300">Entrer ici votre mot de passe. </p>
    </div>

    <div class="mt-8">

{#        #}{# Authentication errors #}
{#        {% if authenticationError %}#}
{#            <p>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>#}
{#        {% endif %}#}

{#        #}{# Let the user select the authentication method #}
{#        {% if availableTwoFactorProviders|length > 1 %}#}
{#            <p>{{ "choose_provider"|trans({}, 'SchebTwoFactorBundle') }}:#}
{#                {% for provider in availableTwoFactorProviders %}#}
{#                    <a href="{{ path("2fa_login", {"preferProvider": provider}) }}">{{ provider }}</a>#}
{#                {% endfor %}#}
{#            </p>#}
{#        {% endif %}#}

        {# Display current two-factor provider #}



        <form class="form"  method="post">



            <div data-controller="passwordstrength">
                {{ form_start(form) }}

                <div class="mt-6 text-white">
                    {{ form_label(form.newPassword) }}
                    {{ form_widget(form.newPassword, {'attr': {'data-passwordstrength-target': 'password', 'data-action': 'input->passwordstrength#updateStrength'}})}}
                </div>
                <div id="password-strength" data-passwordstrength-target="strength" class=" bg-gray-100 p-2 text-sm rounded-md" >

                </div>

                <div class="mt-6">
                    {{ form_row(form.newPasswordConfirm)}}
                </div>


                <input type="submit" class="app_primary_button w-full" value="Enregistrer votre mot de passe">
                {{ form_end(form) }}
            </div>



        </form>


    </div>

{% endblock %}
