<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Tech Eaux Energies</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="h-full overflow-hidden">


    <!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
    <!--
      This example requires updating your template:

      ```
      <html class="h-full bg-gray-50">
      <body class="h-full overflow-hidden">
      ```
    -->
    <div class="flex h-full"  {{ stimulus_controller('layout/menu')}}>

        {%  include 'partials/menu-mobile.html.twig' %}
        {%  include 'partials/menu-large.html.twig' %}

        <!-- Content area -->
        <div class="flex flex-1 flex-col overflow-hidden" >
            <header class="w-full">
                <div class="relative z-10 flex h-16 flex-shrink-0 border-b border-gray-200 bg-white shadow-sm">
                    <button type="button" class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden" {{ stimulus_action('layout/menu' , 'open') }}>
                        <span class="sr-only">Ouvrir le menu</span>
                        <!-- Heroicon name: outline/bars-3-bottom-left -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                        </svg>
                    </button>
                    <div class="flex flex-1 justify-between px-4 sm:px-6">

                        {% include 'partials/searchbar.html.twig' %}

                        <div class="ml-2 flex items-center space-x-4 sm:ml-6 sm:space-x-6">
                            <!-- Profile dropdown -->
                            {%  include 'partials/usermenu.html.twig' %}
                            {%  include 'partials/actions.html.twig' %}
                        </div>
                    </div>
                </div>
            </header>

            <!-- Main content -->
            <div class="flex flex-1 items-stretch overflow-hidden">


                <main class="flex-1 overflow-y-auto">
                    <!-- Primary column -->

                    <section aria-labelledby="primary-heading" class="flex h-full min-w-0 flex-1 flex-col lg:order-last">

                        <div class="py-6">
                            <div class="mx-auto  px-4 sm:px-6 md:px-8">


                                <div>

{#                                    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">#}
{#                                        <div class="relative overflow-hidden rounded-lg bg-white px-4 pt-5 pb-12 shadow sm:px-6 sm:pt-6">#}
{#                                            <dt>#}
{#                                                <div class="absolute rounded-md bg-indigo-500 p-3">#}
{#                                                    <!-- Heroicon name: outline/users -->#}
{#                                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">#}
{#                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />#}
{#                                                    </svg>#}
{#                                                </div>#}
{#                                                <p class="ml-16 truncate text-sm font-medium text-gray-500">Total Subscribers</p>#}
{#                                            </dt>#}
{#                                            <dd class="ml-16 flex items-baseline pb-6 sm:pb-7">#}
{#                                                <p class="text-2xl font-semibold text-gray-900">71,897</p>#}
{#                                                <p class="ml-2 flex items-baseline text-sm font-semibold text-green-600">#}
{#                                                    <!-- Heroicon name: mini/arrow-up -->#}
{#                                                    <svg class="h-5 w-5 flex-shrink-0 self-center text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">#}
{#                                                        <path fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z" clip-rule="evenodd" />#}
{#                                                    </svg>#}
{#                                                    <span class="sr-only"> Increased by </span>#}
{#                                                    122#}
{#                                                </p>#}
{#                                                <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">#}
{#                                                    <div class="text-sm">#}
{#                                                        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> View all<span class="sr-only"> Total Subscribers stats</span></a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </dd>#}
{#                                        </div>#}

{#                                        <div class="relative overflow-hidden rounded-lg bg-white px-4 pt-5 pb-12 shadow sm:px-6 sm:pt-6">#}
{#                                            <dt>#}
{#                                                <div class="absolute rounded-md bg-indigo-500 p-3">#}
{#                                                    <!-- Heroicon name: outline/envelope-open -->#}
{#                                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">#}
{#                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z" />#}
{#                                                    </svg>#}
{#                                                </div>#}
{#                                                <p class="ml-16 truncate text-sm font-medium text-gray-500">Avg. Open Rate</p>#}
{#                                            </dt>#}
{#                                            <dd class="ml-16 flex items-baseline pb-6 sm:pb-7">#}
{#                                                <p class="text-2xl font-semibold text-gray-900">58.16%</p>#}
{#                                                <p class="ml-2 flex items-baseline text-sm font-semibold text-green-600">#}
{#                                                    <!-- Heroicon name: mini/arrow-up -->#}
{#                                                    <svg class="h-5 w-5 flex-shrink-0 self-center text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">#}
{#                                                        <path fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z" clip-rule="evenodd" />#}
{#                                                    </svg>#}
{#                                                    <span class="sr-only"> Increased by </span>#}
{#                                                    5.4%#}
{#                                                </p>#}
{#                                                <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">#}
{#                                                    <div class="text-sm">#}
{#                                                        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> View all<span class="sr-only"> Avg. Open Rate stats</span></a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </dd>#}
{#                                        </div>#}

{#                                        <div class="relative overflow-hidden rounded-lg bg-white px-4 pt-5 pb-12 shadow sm:px-6 sm:pt-6">#}
{#                                            <dt>#}
{#                                                <div class="absolute rounded-md bg-indigo-500 p-3">#}
{#                                                    <!-- Heroicon name: outline/cursor-arrow-rays -->#}
{#                                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">#}
{#                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />#}
{#                                                    </svg>#}
{#                                                </div>#}
{#                                                <p class="ml-16 truncate text-sm font-medium text-gray-500">Avg. Click Rate</p>#}
{#                                            </dt>#}
{#                                            <dd class="ml-16 flex items-baseline pb-6 sm:pb-7">#}
{#                                                <p class="text-2xl font-semibold text-gray-900">24.57%</p>#}
{#                                                <p class="ml-2 flex items-baseline text-sm font-semibold text-red-600">#}
{#                                                    <!-- Heroicon name: mini/arrow-down -->#}
{#                                                    <svg class="h-5 w-5 flex-shrink-0 self-center text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">#}
{#                                                        <path fill-rule="evenodd" d="M10 3a.75.75 0 01.75.75v10.638l3.96-4.158a.75.75 0 111.08 1.04l-5.25 5.5a.75.75 0 01-1.08 0l-5.25-5.5a.75.75 0 111.08-1.04l3.96 4.158V3.75A.75.75 0 0110 3z" clip-rule="evenodd" />#}
{#                                                    </svg>#}
{#                                                    <span class="sr-only"> Decreased by </span>#}
{#                                                    3.2%#}
{#                                                </p>#}
{#                                                <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">#}
{#                                                    <div class="text-sm">#}
{#                                                        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> View all<span class="sr-only"> Avg. Click Rate stats</span></a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </dd>#}
{#                                        </div>#}
{#                                    </dl>#}
                                </div>

                                {%  block breadcrumb %}{% endblock %}
                                    <!-- Replace with your content -->


                                <div class="mt-4">
                                    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow mt-4">
                                        <div class="px-4 py-5 sm:px-6">

                                            <div>

                                                <div class="mt-2 md:flex md:items-center md:justify-between">
                                                    <div class="min-w-0 flex-1">
                                                        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">{{ block('title') }}</h2>
                                                        {%  if block('header_subtitle´') is defined %}
                                                        {{ block('header_subtitle') }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="mt-4 flex flex-shrink-0 md:mt-0 md:ml-4">
                                                        {%  if block('header_actions') is defined %}
                                                        {{ block('header_actions') }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Content goes here -->
                                            <!-- We use less vertical padding on card headers on desktop than on body sections -->
                                        </div>
                                        <div class="px-4 py-5 sm:p-6">

                                            {%  block body %}{%  endblock %}
                                            <!-- Content goes here -->
                                        </div>
                                    </div>
                                </div>

                                <!-- /End replace -->
                            </div>
                        </div>






                        <!-- Your content -->
                    </section>
                </main>

{#                <!-- Secondary column (hidden on smaller screens) -->#}
{#                <aside class="hidden w-96 overflow-y-auto border-l border-gray-200 bg-white lg:block">#}
{#                    <!-- Your content -->#}
{#                </aside>#}
            </div>
        </div>
    </div>








    </body>
</html>
