{%  extends 'application_layout.html.twig' %}

{% block stimulus_controllers %}
    {{ stimulus_controller('modal slidepanel dropdown') }}
{% endblock %}


{% block body %}

    <div>
        <!-- Header -->
        <div class="relative bg-brandThird-300 pb-32 ">
            <div class="absolute inset-0">
                <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&&sat=-100" alt="">
                <div class="absolute inset-0 bg-brandThird-400 mix-blend-multiply" aria-hidden="true"></div>
            </div>
            <div class="relative mx-auto max-w-7xl py-24 px-6 sm:py-32 lg:px-8">
                <h1 class="text-4xl font-extralight tracking-tight text-white md:text-5xl lg:text-6xl">Bienvenue !</h1>
                <p class="mt-6 max-w-3xl text-xl text-gray-300">Ca y est ! Votre application semble fonctionner.</p>
            </div>
        </div>

        <!-- Overlapping cards -->
        <section class="relative z-auto mx-auto -mt-32 max-w-7xl px-6 pb-32 lg:px-8" aria-labelledby="contact-heading">
            <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-1 lg:gap-y-0 lg:gap-x-8">
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">
                            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                            </svg>
                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter"  >Entête</h3>
                        <p class="mt-4 text-base text-gray-500">Ici il est possible d'afficher des informations importantes.</p>
                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8">
                        <a href="#" class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Voir le repository<span aria-hidden="true"> &rarr;</span></a>
                    </div>
                </div>

            </div>
        </section>

        <h1 class="text-3xl max-w-7xl mx-auto mb-32"> Interface graphique : Javascript</h1>
        <section class=" -mt-12 relative z-auto mx-auto  max-w-7xl px-6 pb-32 lg:px-8">



            <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" w-6 h-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
                            </svg>
                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter"  >Slide Panel</h3>
                        <p class="mt-4 text-base text-gray-500">Une interface agreable pour afficher du contenu transitoire.</p>
                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8">
                        <a href="/demo/slide" {{ stimulus_action('slidepanel' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Ouvrir un panneau lateral<span aria-hidden="true"> &rarr;</span></a>
                    </div>
                </div>
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">
                             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.25V18a2.25 2.25 0 0 0 2.25 2.25h13.5A2.25 2.25 0 0 0 21 18V8.25m-18 0V6a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 6v2.25m-18 0h18M5.25 6h.008v.008H5.25V6ZM7.5 6h.008v.008H7.5V6Zm2.25 0h.008v.008H9.75V6Z" />
                            </svg>

                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter"  >Fenêtre modale</h3>
                        <p class="mt-4 text-base text-gray-500">Afficher une fenêtre au dessus des autres.</p>
                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8 flex flex-col">
                        <a {{ stimulus_action('modal', 'open' , null, {name:'demo'})}} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Ouvrir une fenetre de base<span aria-hidden="true"> &rarr;</span></a>
                        <a href="/demo/modal" {{ stimulus_action('modal', 'open' )}} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Ouvrir une fenetre depuis une url<span aria-hidden="true"> &rarr;</span></a>
                    </div>
                </div>
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                            </svg>

                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter"  >Dropdown</h3>
                        <p class="mt-4 text-base text-gray-500">Accéder à un menu/bouton spécifique.</p>

                        {% include 'demo/dropdown/dropdown.html.twig' %}

                    </div>

                </div>
            </div>
        </section>
        <section class=" -mt-12 relative z-auto mx-auto  max-w-7xl px-6 pb-32 lg:px-8">

            <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
                            </svg>
                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter"  >Liste filtrées</h3>
                        <p class="mt-4 text-base text-gray-500">Permettre d'afficher un tableau, avec une possibilité de filtrer via une recherche texte</p>
                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8 flex flex-col">
                        {#                        <a href="/demo/slide" {{ stimulus_action('slidepanel' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Ouvrir un panneau lateral<span aria-hidden="true"> &rarr;</span></a>#}
                        <a href="/demo/filter/list"  {{ stimulus_action('slidepanel' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Voir un tableau filtrable<span aria-hidden="true"> &rarr;</span></a>
                        <a href="/demo/filter/cards"  {{ stimulus_action('slidepanel' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Voir une liste de cartes filtrable<span aria-hidden="true"> &rarr;</span></a>
                    </div>
                </div>

                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
                            </svg>

                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter">Autocompletion</h3>
                        <span class="inline-flex items-center gap-x-1.5 rounded-full bg-yellow-100 px-1.5 py-0.5 text-xs font-medium text-yellow-800">
                          <svg class="h-1.5 w-1.5 fill-yellow-500" viewBox="0 0 6 6" aria-hidden="true">
                            <circle cx="3" cy="3" r="3" />
                          </svg>
                          A finaliser
                        </span>
                        <p class="mt-4 text-base text-gray-500">Autocompletion, recherche via texte.</p>
                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8 flex flex-col">
                        <a href="/demo/s3" {{ stimulus_action('slide_panel', 'open' ) }}
                           class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Voir une autocompletion<span aria-hidden="true"> &rarr;</span></a>
                    </div>
                </div>
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
                            </svg>
                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter">Graphiques</h3>
                        <p class="mt-4 text-base text-gray-500">Avec charts.js et Symfony UX.</p>


                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8 flex flex-col">
                        <a href="/demo/charts" {{ stimulus_action('slidepanel', 'open' ) }}
                           class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Voir un graphique exemple<span aria-hidden="true"> &rarr;</span></a>
                    </div>

                </div>
            </div>
        </section>
        <section class=" -mt-12 relative z-auto mx-auto  max-w-7xl px-6 pb-32 lg:px-8">

            <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                            </svg>
                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter"  >Composants React</h3>
                        <p class="mt-4 text-base text-gray-500">Avec stimulus, utiliser React en tant que composant</p>
                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8 flex flex-col">
                        {#                        <a href="/demo/slide" {{ stimulus_action('slidepanel' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Ouvrir un panneau lateral<span aria-hidden="true"> &rarr;</span></a>#}
                        <a href="/demo/react" {{ stimulus_action('slidepanel' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Voir un composant react<span aria-hidden="true"> &rarr;</span></a>
                    </div>
                </div>
            </div>
        </section>

        <h1 class="text-3xl max-w-7xl mx-auto mb-32">Gérer et produire des fichiers</h1>
        <section class=" -mt-12 relative z-auto mx-auto  max-w-7xl px-6 pb-32 lg:px-8">

            <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0 1 10.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0 .229 2.523a1.125 1.125 0 0 1-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0 0 21 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 0 0-1.913-.247M6.34 18H5.25A2.25 2.25 0 0 1 3 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 0 1 1.913-.247m10.5 0a48.536 48.536 0 0 0-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5Zm-3 0h.008v.008H15V10.5Z" />
                            </svg>

                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter"  >Génération de fichiers PDF</h3>
                        <p class="mt-4 text-base text-gray-500">Depuis une page HTML, générer des fichiers PDF avec Gotenberg</p>
                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8 flex flex-col">
{#                        <a href="/demo/slide" {{ stimulus_action('slidepanel' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Ouvrir un panneau lateral<span aria-hidden="true"> &rarr;</span></a>#}
                        <a href="/demo/pdf?download=1" class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Télécharger un fichier pdf<span aria-hidden="true"> &rarr;</span></a>
{#                        <a href="/demo/pdf" {{ stimulus_action('modal' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Pdf dans une modale<span aria-hidden="true"> &rarr;</span></a>#}
{#                        <a href="/demo/pdf" {{ stimulus_action('slidepanel' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Pdf dans un panneau latéral<span aria-hidden="true"> &rarr;</span></a>#}
                    </div>
                </div>
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">
                             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
                            </svg>


                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter"  >Stockage S3</h3>
                        <p class="mt-4 text-base text-gray-500">Stocker des fichiers sur un serveur S3.</p>
                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8 flex flex-col">
                        <a href="/demo/s3" {{ stimulus_action('slidepanel', 'open' )}} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Télécharger depuis un serveur S3<span aria-hidden="true"> &rarr;</span></a>
                    </div>
                </div>
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V13.5Zm0 2.25h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V18Zm2.498-6.75h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V13.5Zm0 2.25h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V18Zm2.504-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5Zm0 2.25h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V18Zm2.498-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5ZM8.25 6h7.5v2.25h-7.5V6ZM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 0 0 2.25 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0 0 12 2.25Z" />
                            </svg>
                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter"  >Export EXCEL</h3>
                        <p class="mt-4 text-base text-gray-500">Obtenir des véritables fichiers EXCEL.</p>
                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8 flex flex-col">
                        <a href="/demo/excel" target="_blank" class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Télécharger un exemple<span aria-hidden="true"> &rarr;</span></a>
                    </div>

                </div>
            </div>
        </section>
        <section class=" -mt-12 relative z-auto mx-auto  max-w-7xl px-6 pb-32 lg:px-8">

            <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
                <div class="flex flex-col rounded-2xl bg-white shadow-xl">
                    <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
                        <div class="absolute top-0 inline-block -translate-y-1/2 transform rounded-xl bg-brandSecondary-600 p-5 shadow-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" />
                            </svg>
                        </div>
                        <h3 class="text-2xl font-medium text-gray-600 tracking-tighter"  >Envoi d'emails</h3>
                        <span class="inline-flex items-center gap-x-1.5 rounded-full bg-yellow-100 px-1.5 py-0.5 text-xs font-medium text-yellow-800">
                          <svg class="h-1.5 w-1.5 fill-yellow-500" viewBox="0 0 6 6" aria-hidden="true">
                            <circle cx="3" cy="3" r="3" />
                          </svg>
                          A finaliser
                        </span>
                        <p class="mt-4 text-base text-gray-500"> Envoi d'email, pièces jointes, au format HTML</p>
                    </div>
                    <div class="rounded-bl-2xl rounded-br-2xl bg-gray-50 p-6 md:px-8 flex flex-col">
{#                        <a href="/demo/slide" {{ stimulus_action('slidepanel' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Ouvrir un panneau lateral<span aria-hidden="true"> &rarr;</span></a>#}
                        <a href="/demo/pdf" {{ stimulus_action('slidepanel' , 'open') }} class="text-base font-medium text-brandThird-300 hover:text-brandSecondary-300">Envoyer un email de test<span aria-hidden="true"> &rarr;</span></a>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="bg-white py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <h2 class="text-3xl mb-12 text-center font-extralight">Qizuna utilise des outils libres</h2>
                    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-7 grayscale">
                        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ asset('build/images/logos/symfony.png') }}" alt="Symfony" width="158" height="48">
                        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ asset('build/images/logos/tailwindcss.svg') }}" alt="Tailwind CSS" width="158" height="48">
                        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ asset('build/images/logos/doctrine.svg') }}" alt="Doctrine" width="158" height="48">
                        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ asset('build/images/logos/stimulus.svg') }}" alt="Stimulus" width="158" height="48">
                        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ asset('build/images/logos/react.svg') }}" alt="React" width="158" height="48">
                        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ asset('build/images/logos/webpack.png') }}" alt="Webpack" width="158" height="48">
                        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ asset('build/images/logos/pest.svg') }}" alt="Pest" width="158" height="48">


                    </div>
                </div>
            </div
        </section>
    </div>

    {% include 'partials/modals/modal.html.twig' with {
        modalName: 'demo', title: "Modale de démonstration" , close_label: "Fermer la fenêtre"
    }%}


{% endblock %}


