{% extends 'user/user_settings_base.html.twig' %}


{% block user_setting_content %}
 {{ form_start(form) }}
 {{ form_row(form.currentPassword) }}

 <div data-controller="passwordstrength">
  {{ form_row(form.newPassword, {'attr': {'data-passwordstrength-target': 'password', 'data-action': 'input->passwordstrength#updateStrength'}}) }}
  <div id="password-strength" data-passwordstrength-target="strength" class="mb-4"></div>
 </div>
 {{ form_row(form.newPasswordConfirm) }}
 <input type="submit" class="app_primary_button w-full" value="Mettre le mot de passe à jour">
 {{ form_end(form) }}
{% endblock %}

{% block user_setting_title %}
 Mon mot de passe
{% endblock %}

{% block user_setting_description %}
 Ici, vous pouvez mettre à jour votre mot de passe. Nous vous invitons à sécuriser au maximum votre compte en utilisant un mot de passe fort et unique de
 <b>8 caractères minimum</b>.

 <br><br>
 Après avoir validé votre changement de mot de passe, vous serez déconnecté et une nouvelle authentification sera nécessaire.
{% endblock %}
